html, body {
	margin:0px;
	padding: 0px;
	height:100%;
}  

body {
	background: black;
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-size: 120%;
	height: 100vh;
	width: 100vw;
}

.card, .dialog, .filling {
	box-sizing: border-box;
	background: black;
	border-radius: 2px;
	border: 1px solid #666;
	overflow: auto
}

.card {
	padding: 0px;
}

.dialog, .filling {
	padding: 8px;
}

.switch {
	cursor:pointer;
	padding: 7px;
	margin: 4px;
	float: left;
	width: 145px;
	text-align: center;
	box-sizing: border-box;
	transition: 0.3s;
}

.on {
	background: #222;
	border: 2px solid #666;
	box-shadow: inset 0 0 0 0 #666;
}

.on:hover {
	box-shadow: inset 10px 0 0 0 #666;
	transition: 0.2s;
}

.on:active {
	box-shadow: inset 150px 0 0 0 #666;
	transition: 0.2s;
}

.off {
	background: black;
	border: 2px solid #222;
	box-shadow: inset 0 0 0 0 #222;
}

.off:hover {
	box-shadow: inset 10px 0 0 0 #222;
	transition: 0.2s;
}

.off:active {
	box-shadow: inset 150px 0 0 0 #222;
	transition: 0.2s;
}

.link {
	cursor:pointer;
}

.line {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #444;
	vertical-align: middle;
}

.icon {
	cursor:pointer;
	height: 32px;
	width: 32px;
	list-style: none;
	float: right;
	padding-right: 10px;
	vertical-align: top;
}

img:hover{
	background-image: radial-gradient(closest-side, #666, #000);
}

.right {
	float: right
}

.left {
	float: left
}

.headline {
	font-weight: bold;
	color: #aaa;
	font-size: 120%;
	padding-bottom: 10px;
}

.player_btn{
	padding: 2px;
	width: 48px;
	cursor:pointer;
}

button, input{
	background: black;
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-size: 100%;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	border: 1px solid #444;
	transition: all 0.15s;
}

input{
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 12px
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

input:checked + label {
	background: #aaa;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.cbox {
	cursor: pointer;
	text-indent: -9999px;
	width: 80px;
	height: 30px;
	background: #444;
	display: block;
	border-radius: 30px;
	position: relative;
}

.cbox:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 23px;
	height: 23px;
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

.cbox:active:after {
	width: 32px;
}

label, .label{
	padding: 3px 5px;
	box-sizing: border-box;
	height: 40px;
}

button{
	width: 160px;
	cursor:pointer;
}

button:hover, input:focus{
	border: 1px solid #888;
	box-shadow: inset 0 0 10px #888;
	transition: all 0.15s;
}

button:active {
	border: 1px solid #eee;
	background: #eee;
	color: black;
	transition: all 0.15s;
}

.file{
	padding: 2px;
	border-bottom: 1px solid #444;
}

.dir{
	font-weight: bold;	
}

.rotate {
	-webkit-animation: rotation 1s infinite linear;
}

.highlight {
	font-weight: bold;
	color: #aaa;
	border-bottom: 1px solid #aaa;
}

@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}

header, footer{
	height: 30px;
}

main {
	flex: 1;
	overflow: auto;
}

.fill{
	width: 95%;
}

.container {
	visibility: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	opacity: 0;
	display: flex;

	transform: scale(1.08, 1.08);
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.container.visible {
	visibility: visible;
	opacity: 1;

	transform: none;
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.dialog{
	margin: auto auto;
}

.filling, .use_space{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 8px;
	padding-bottom: 23px;
}

.disabled{
	text-decoration: line-through;
}