html, body {
	margin:0px;
	padding: 0px;
	height:100%;
}  

body {
	background: black;
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-size: 120%;
	height: 100vh;
	width: 100vw;
}

.card, .dialog, .filling {
	box-sizing: border-box;
	background: black;
	border-radius: 2px;
	padding: 0px;
	border: 1px solid #666;
	overflow: auto
}

.switch {
	cursor:pointer;
	padding: 7px;
	margin: 8px;
	float: left;
	width: 120px;
	text-align: center;
}

.on {
	background: #222;
	border: 2px solid #666;
}

.off {
	background: black;
	border: 2px solid #222;
}

.link {
	cursor:pointer;
}

.right {
	float: right
}

.left {
	float: left
}

.headline {
	font-weight: bold;
	color: #aaa;
	font-size: 120%;
	padding-bottom: 10px;
}

.player_btn{
	padding: 2px;
	width: 48px;
	cursor:pointer;
}

button, input{
	background: black;
	color: white;
	font-family: 'Source Code Pro', monospace;
	font-size: 100%;
	margin: 3px;
	padding: 5px;
	border: 1px solid #444;
}

button{
	width: 160px;
	cursor:pointer;
}

.file{
	padding: 2px;
	border-bottom: 1px solid #444;
}

.dir{
	font-weight: bold;	
}

.rotate {
	-webkit-animation: rotation 1s infinite linear;
}

.highlight {
	font-weight: bold;
	color: #aaa;
	border-bottom: 1px solid #aaa;
}

@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}

header, footer{
	height: 30px;
}

main {
	flex: 1;
	overflow: auto;
}

.fill{
	width: 95%;
}

.container {
	visibility: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	opacity: 0;

	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.container.visible {
	visibility: visible;
	opacity: 1;

	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.dialog{
	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%) scale(1.3, 1.3);

	transition: 0.5s cubic-bezier(.73,.35,.84,.42);
}

.dialog_on{
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.filling{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 8px;
	padding-bottom: 23px;

	transform: scale(1.1, 1.1);

	transition: 0.5s cubic-bezier(.73,.35,.84,.42);
}

.filling_on{
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
	transform: none;
}
