:root
{
	--offset: 8px;
	--top: 60px;
	--bottom: 63px;
	--left: 306px;
	--right: 400px;
	--nav: 60px;
	--nav_w: 132px;
	--album_width: 200px;
}

html, body
{
	margin:0px;
	padding: 0px;
	height:100%;
}

body
{
	background: var(--body_background);
	color: var(--font);
	font-family: var(--font_name);
	font-size: 110%;
	height: 100vh;
	width: 100vw;
}

img
{
	filter: var(--img_filter);
}

.card, .dialog
{
	box-sizing: border-box;
	background: var(--background);
	border-radius: var(--card_radius);
	border: var(--card_border);
	overflow: auto
}

.card
{
	padding: 0px;
	transition: 0.3s;
}

.card_gone
{
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}

.list_gone
{
	opacity: 0.2;
	transition: 0.5s;
}

.card_fill
{
	scrollbar-color: var(--border) var(--background);
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: auto;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
}

.card_buttons
{
	position: absolute;
	white-space: nowrap;	
	bottom: 8px;
	/*right: 20%;*/
	right: 8px;
}

.card_btn
{
	background-color: var(--btn_card_color);
	display: inline-block;
	cursor:pointer;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	margin-left: 10px;
	border-radius: 50%;
	box-shadow: 0px 0px 2px var(--font);
	transition: 0.15s;
}

.card_btn:hover
{
	box-shadow: 0px 2px 8px 1px var(--font);
    transform: translateY(-2px);
	transition: 0.15s;
}

.card_btn:active
{
	box-shadow: 0px 0px 2px var(--font);
    transform: scale(0.95) translateY(-1px);
}

.gone, .card_btn:hover.gone
{
	opacity: 0%;
	transform: translateY(40px);
    visibility: hidden;
    transition: 0.2s;
}

.card_btn_img
{
	width: 35px;
	height: 35px;
	filter: var(--img_card_filter);
}

.card_btn_img:hover
{
	filter: var(--img_card_filter);
	background-image: none;
	transform: none;
}

#playlists, #currentplaying, #switches, #top_bar, #filesystem, #border_navigation, #information
{
	position: absolute;
	box-shadow: var(--card_shadow);
}

@media (min-width: 900px)
{
	#top_bar, #currentplaying
	{
		left: var(--offset);
		width: calc(100% - 2*var(--offset));
	}
	#top_bar
	{
		top: var(--offset);
		height: calc(var(--top) - var(--offset));
	}
	#currentplaying
	{
		bottom: var(--offset);
		height: calc(var(--bottom) - var(--offset));
	}
	#playlists, #filesystem
	{
		top: calc(var(--top) + var(--offset));
		height: calc(100% - var(--top) - var(--bottom) - 2*(var(--offset)));
	}
	#switches, #information
	{
		left: var(--offset);
		width: calc(var(--left) - var(--offset));
	}
	#switches
	{
		top: calc(var(--top) + var(--offset));
		height: calc(0.5*(100% - var(--top) - var(--bottom)) - (var(--offset)));
	}
	#information
	{
		bottom: calc(var(--bottom) + var(--offset));
		height: calc(0.5*(100% - var(--top) - var(--bottom)) - 2*(var(--offset)));
	}
	#playlists
	{
		right: var(--offset);
		width: calc(var(--right) - var(--offset));
	}
	#filesystem
	{
		left: calc(var(--left) + var(--offset));
		width: calc(100% - var(--left) - var(--right) - 2*var(--offset));
	}
	#border_navigation
	{
		visibility: hidden;
	}
}

@media (max-width: 900px) and (min-height: 450px)
{
	:root
	{
		--offsetx: 1px;
		--offset: 3px;
		--album_width: 160px;
	}

	#top_bar, #currentplaying, #border_navigation
	{
		left: var(--offsetx);
		width: calc(100% - 2*var(--offsetx));
	}
	#top_bar
	{
		top: var(--offset);
		height: calc(var(--top) - var(--offset));
	}
	#currentplaying
	{
		bottom: var(--offset);
		height: calc(var(--bottom) - var(--offset));
	}
	#border_navigation
	{
		top: calc(var(--top) + var(--offset));
		height: calc(var(--nav) - var(--offset));
	}
	#switches, #playlists, #filesystem, #information
	{
		top: calc(var(--top) + var(--nav) + var(--offset));
		height: calc(100% - var(--top) - var(--nav) - var(--bottom) - 2*(var(--offset)));
		left: var(--offsetx);
		right: var(--offsetx);
	}
	#playlists, #filesystem, #information
	{
		z-index: -1;
	}
}

@media (max-width: 900px) and (max-height: 450px)
{
	:root
	{
		--offsetx: 1px;
		--offset: 3px;
		--offsety: 1px;
		--album_width: 180px;
	}

	#top_bar
	{
		left: var(--offsetx);
		width: calc(100% - 2*var(--offsetx));
		top: var(--offsety);
		height: calc(var(--top) - var(--offset));
	}
	#border_navigation
	{
		left: var(--offsetx);
		top: calc(var(--top) + var(--offsety));
		height: calc(100% - var(--top) - var(--bottom) - 2*(var(--offsety)));
		width: calc(var(--nav_w) - var(--offsetx));
	}
	#currentplaying
	{
		left: var(--offsetx);
		width: calc(var(--nav_w) - var(--offsetx));
		bottom: var(--offsety);
		height: calc(var(--bottom) - var(--offset));
	}
	#switches, #playlists, #filesystem, #information
	{
		top: calc(var(--top) + var(--offsety));
		bottom: var(--offsety);
		left: calc(var(--nav_w) + var(--offset));
		right: var(--offsetx);
	}
	#playlists, #filesystem, #information
	{
		z-index: -1;
	}
}

.switch
{
	--switch_height: calc(44px - 2*var(--btn_border));
	cursor:pointer;
	padding: 7px;
	margin: 4px;
	text-align: center;
	height: var(--switch_height);
	vertical-align: middle;
	min-width: 110px;
	box-sizing: border-box;
	transition: 0.3s;
	border-radius: var(--btn_radius);
}

.on
{
	color: var(--font_on);
	background: var(--btn_on_bg);
	border: var(--btn_on_border);
	box-shadow: inset 0 0 0 0 var(--btn_on_border_color);
}

.on:hover
{
	border: var(--btn_on_border_hover);
	box-shadow: inset 10px 0 0 0 var(--btn_on_border_color);
	transition: 0.2s;
}

.on:active
{
	box-shadow: inset 150px 0 0 0 var(--btn_on_border_color);
	transition: 0.2s;
}

.off
{
	background: var(--btn_off_bg);
	border: var(--btn_off_border);
	box-shadow: inset 0 0 0 0 var(--btn_off_border_color);
}

.off:hover
{
	box-shadow: inset 10px 0 0 0 var(--btn_off_border_color);
	border: var(--btn_off_border_hover);
	transition: 0.2s;
}

.off:active
{
	box-shadow: inset 150px 0 0 0 var(--btn_off_border_color);
	transition: 0.2s;
}

.line
{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid var(--border);
	vertical-align: middle;
}

img:hover
{
	filter: var(--img_filter_hover);
	transform: scale(1.05);
}

.headline
{
	text-align: center;
	font-weight: bold;
	color: var(--title);
	font-size: 120%;
	padding-bottom: 10px;
	flex: 0 0 auto;
}

.playing_button
{
	display: flex;
	white-space: nowrap;
}

#playing_progress
{
	position: absolute;
	bottom: 0px;
	height: 3px;
	width: 0%;
	background-image: linear-gradient(to right, var(--background), var(--focus));
	transition: 1.5s linear;
}

#player_content
{
	margin: auto;
	display: inline;
	flex: 1 1 auto;
}

.player_btn
{
	padding-left: 5px;
	width: 27px;
	margin: auto;
	cursor:pointer;
	display: flex;
	flex: 0 0 auto;
}

.player_btn_circle
{
	background-color: var(--btn_card_color);
	display: inline-block;
	cursor:pointer;
	padding: 15px;
	border-radius: 50%;
	display: flex;
	flex: 0 0 auto;
}

.player_btn_circle:hover
{
	transform: scale(1.05);
}

.player_dlg_range_side
{
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	align-items: center;
	flex: 0 0 auto;
}

.player_dlg_row
{
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}

.player_dlg_info
{
	text-align: center;
}

.player_dlg_sub
{
	color: var(--btn_card_color);
	text-align: left;
	font-size: small;
}

#player_dlg_play_btn
{
	margin: auto;
}

.player_dlg_img_play
{
	transform: translateX(3px);
}
.player_dlg_img_play:hover
{
	transform: translateX(3px);
}

.setting_btn
{
	width: 35px;
	margin: 7px;
	float: right;
}

button, .input, input, select
{
	background: var(--background);
	color: var(--font);
	font-family: var(--font_name);
	font-size: 100%;

	border: 1px solid var(--border);
	transition: all 0.15s;
}

input, select
{
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 12px;
}

input[type=checkbox]
{
	height: 0;
	width: 0;
	visibility: hidden;
}

input:checked + label
{
	background: #aaa;
}

input:checked + label:after
{
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

/* chromium */
input[type="range" i]
{
	border: none;
	box-shadow: none;
}
input[type="range" i]::-webkit-slider-thumb{
	height: var(--s);
	aspect-ratio: 1;
	border-radius: 50%;
	box-shadow: 0 0 0 var(--_b,var(--l)) inset var(--_c);
	border-image: linear-gradient(90deg,var(--_c) 50%,#ababab 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
	-webkit-appearance: none;
	appearance: none;
	transition: .3s;
}
/* Firefox */
input[type="range"]
{
	--c: var(--btn_card_color); /* active color */
	--g: 8px; /* the gap */
	--l: 5px; /* line thickness*/
	--s: 23px; /* thumb size*/
	width: 400px;
	height: var(--s); /* needed for Firefox*/
	--_c: color-mix(in srgb, var(--c), #000 var(--p,0%));
	-webkit-appearance :none;
	-moz-appearance :none;
	appearance :none;
	background: none;
	cursor: pointer;
	overflow: hidden;
}
input[type="range"], input[type="range"]:hover, input[type="range"]:focus
{
	border: none;
	box-shadow: none;
}
input[type="range"]::-moz-range-thumb {
	height: var(--s);
	width: var(--s);
	border-radius: 50%;
	border: none;
	background: var(--background);
	box-shadow: 0 0 0 var(--_b,var(--l)) inset var(--_c);
	border-image: linear-gradient(90deg,var(--_c) 50%,var(--title) 0) 0 1/calc(50% - var(--l)/2) 100vw/0 calc(100vw + var(--g));
	-moz-appearance: none;
	appearance: none;
	transition: .3s;
}

@supports not (color: color-mix(in srgb,red,red)) {
	input {
		--_c: var(--c);
	}
}

label, .label
{
	margin-top: 9px;
	padding: 2px;
	box-sizing: border-box;
}

.button
{
	margin-top: 9px;
	margin-left: 9px;
	width: 140px;
	cursor:pointer;
	height: 35px;
}

.button:hover, input:hover, select:hover
{
	box-shadow: inset 0 0 5px var(--focus);
	transition: all 0.15s;
	--p: 25%;
}

.file:hover
{
	box-shadow: 0 0 10px 1px var(--focus);
	transition: all 0.15s;
}

.button:hover, input:hover, select:hover
{
	border: 1px solid var(--focus);
}

input:focus, select:focus
{
	border: 1px solid var(--focus);
	box-shadow: inset 0 0 15px var(--focus);
	transition: all 0.15s;
}

input:active,
input:focus-visible{
  --_b: var(--s)
}

.button:active
{
	border: 1px solid var(--focus);
	background: var(--focus);
	transition: all 0.15s;
}

.flex_line, .file
{
	width: 100%;
	text-align: left;
	cursor: pointer;
	display: flex;
	background: color-mix(in srgb, var(--background) 60%, transparent);
}

.file
{
	border-bottom: 1px solid var(--border);
}

.file_caption
{
	min-width: 0;
	margin: 10px 6px 10px 6px;
	display: flex;
	flex: 1 1 auto;
	line-height: 30px;
}

.file_button,
.file_button_left
{
	height: 32px;
	margin: auto;
	margin-right: 10px;
	cursor: pointer;
	display: flex;
	flex: 0 0 auto;
}

.file_button_left
{
	margin: auto;
	margin-left: 5px;
}

.bold
{
	font-weight: bold;	
}

.search_result
{
	color: var(--btn_card_color);
	margin: 0px 6px 4px 6px;
	font-size: 70%;
}

.loader
{
	text-align: center;
	background-image: url("img/loading.png");
	background-size: 128px;
	background-repeat: no-repeat;
	background-position: center;
	filter: var(--img_filter);
	animation: rotation 1s infinite linear;
	width: 100%;
	height: 250px;
	border-radius: 50%;
}

.rotate
{
	-webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation
{
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}

.fill
{
	width: 95%;
}

.gradient
{
	background-image: linear-gradient(to right, rgba(255,0,0,0), var(--border), rgba(255,0,0,0));
	width: 100%;
	height: 1px;
	filter: blur(0.5px);
}

.container
{
	visibility: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	opacity: 0;
	display: flex;

	transform: scale(1.08, 1.08);
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.container.visible
{
	visibility: visible;
	opacity: 1;

	transform: none;
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.dialog
{
	--dlg_width: 600px;

	padding: 20px 10px 20px 10px;
	box-shadow: var(--dialog_shadow);
	position: absolute;
	display: flex;
	flex-direction: column;
}

.dialog_dynamic_body
{
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	overflow: auto;
	border: 1px solid var(--border);
}

.dialog_dynamic_footer
{
	display: flex;
	justify-content: flex-end;
	flex: 0 0 auto;
}

.z_index_back
{
	z-index: -1;
}

.invisible
{
	display: none;
}

#toast {
	--dlg_width: 400;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: absolute;
	display: block;
	z-index: 1;
	bottom: 25px;
	visibility: hidden;
	opacity: 0%;
	transition: 0.3s;
}

#toast.show {
	visibility: visible;
	opacity: 100%;
	transform: translateY(-10px);
	transition: 0.3s;
}

@media (max-width: 900px) and (min-height: 450px)
{
	#border_navigation
	{
		overflow-x: auto;
    	white-space: nowrap;
	}
	.nav_btn
	{
		float: none;
		display: inline-block;
	}
}

#border_navigation_content
{
	scrollbar-width: none;
}

.album_container
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.album-card
{
  width: var(--album_width);
  margin: 5px;
  background: #111;
  border-radius: 12px;
  border: 1px solid var(--border);
  padding: 12px;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 0;
}

.cd-case
{
  position: relative;
  width: 100%;
  height: var(--album_width);
  perspective: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.case-cover
{
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform-origin: left center;
  z-index: 2;
  object-fit: cover;
  z-index: 210;
}

.cd-disc
{
  position: absolute;
  
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: opacity 0.4s ease 0.2s, transform 0.6s ease;
  z-index: 100;
}

.case-cover,
.case-cover:hover,
.cd-disc,
.cd-disc:hover
{
	width: calc(var(--album_width));
	height: calc(var(--album_width));
	filter: none;
}

.album-card:hover .case-cover
{
  transform: rotateY(-30deg);
}

.album-card .case-cover-open
{
  transform: rotateY(-30deg);
}

.album-card:hover .cd-disc
{
  transform: translate(-37%, -50%) rotate(120deg);
}


.album-card .cd-rotate
{
	animation: cd_rotation 1s infinite linear;
}

@-webkit-keyframes cd_rotation
{
	from { transform: translate(-37%, -50%) rotate(0deg); }
	to { transform: translate(-37%, -50%) rotate(359deg); }
}


.album-info h3
{
  font-size: 1rem;
  margin: 5px 0;
}

.album-info p
{
	margin-top: 0px;
}

.album-actions
{
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.album-actions button
{
  flex: 1;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: 0px;
  cursor: pointer;
  background: var(--btn_card_color);
  color: #fff;
  transition: background 0.3s ease;
}

.album-actions img
{
  filter: var(--img_card_filter);
  transform: none;
}

.album-actions button:hover
{
  background: var(--background);
}

.album-actions button:hover img
{
  filter: var(--img_filter_hover);
}

.marquee
{
  width: 360px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0.25rem 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The inner element holds the text. Use inline-block so scrollWidth is measured correctly. */
.marquee_inner
{
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  /* default (non-scrolling) state: centered */
  transform: translateX(0);
  transition: transform 300ms ease; /* small transition for class toggles */
  font-size: 1.05rem;
  line-height: 1;
  padding: 0 0.25rem;
}

/* When overflowing we add is-scrolling to the container; that enables animation */
.marquee.is-scrolling
{
  justify-content: flex-start; /* left-aligned during scroll so animation math is simpler */
}

/* keyframes: move from start position (0) to the negative distance stored in CSS variable */
@keyframes marquee-scroll
{
  0%   { transform: translateX(0); opacity: 0% }
  5%   { transform: translateX(0); opacity: 100% }
  20%  { transform: translateX(0); opacity: 100% } /* small pause at start so user can register beginning */
  80%  { transform: translateX(var(--scroll-distance)); opacity: 100%; }
  95% { transform: translateX(var(--scroll-distance)); opacity: 100% } /* small pause at end */
  100% { transform: translateX(var(--scroll-distance)); opacity: 0% } /* small pause at end */
}

/* Apply the animation only when container has the is-scrolling class.
   --scroll-duration and --scroll-distance are set by JS. */
.marquee.is-scrolling .marquee_inner
{
  /* --scroll-distance must be a negative px value like "-200px" */
  animation-name: marquee-scroll;
  animation-duration: var(--scroll-duration, 10s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  /* let user pause by hovering */
  animation-fill-mode: none;
  padding-right: 1rem; /* so last characters have breathing room when scrolled fully */
}

/* Pause on hover (and make it resumable) */
.marquee.is-scrolling:hover .marquee_inner
{
  animation-play-state: paused;
}

/* Respect users who prefer reduced motion */
@media (prefers-reduced-motion: reduce)
{
  .marquee.is-scrolling .marquee_inner {
    animation: none;
  }
}

/* small utility: let the H3 look normal */
.marquee_inner
{
  margin: 0;
  font-weight: 600;
}

.cover_background
{
	filter: none;
	z-index: -1;
	position: absolute;
}

.cover_background:hover
{
	filter: none;
	transform: none;
}