:root
{
	--offset: 8px;
	--top: 60px;
	--bottom: 57px;
	--left: 306px;
	--right: 400px;
	--nav: 60px;
	--nav_w: 132px;
}

html, body
{
	margin:0px;
	padding: 0px;
	height:100%;
}

body
{
	background: var(--body_background);
	color: var(--font);
	font-family: var(--font_name);
	font-size: 110%;
	height: 100vh;
	width: 100vw;
}

img
{
	filter: brightness(var(--img_brightness));
}

.card, .dialog, .filling
{
	box-sizing: border-box;
	background: var(--background);
	border-radius: var(--card_radius);
	border: var(--card_border);
	overflow: auto
}

.card
{
	padding: 0px;
}

.dialog, .filling
{
	padding: 8px;
}

.card_fill
{
	scrollbar-color: var(--border) var(--background);
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: auto
}

.card_buttons
{
	position: absolute;
	white-space: nowrap;	
	bottom: 8px;
	/*right: 20%;*/
	right: 8px;
}

.card_btn
{
	background-color: var(--btn_card_color);
	display: inline-block;
	cursor:pointer;
	padding-top: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	margin-left: 10px;
	border-radius: 50%;
	box-shadow: 0px 0px 2px var(--font);
	transition: 0.2s;
}

.card_btn:hover
{
	box-shadow: 0px 2px 8px var(--font);
    transform: translateY(-2px);
	transition: 0.2s;
}

.gone, .card_btn:hover.gone
{
	opacity: 0%;
	transform: translateY(40px);
    visibility: hidden;
    transition: 0.2s;
}

.card_btn_img
{
	width: 35px;
	height: 35px;
	filter: brightness(var(--img_card_brightness));
}

.card_btn_img:hover
{
	filter: brightness(var(--img_card_brightness));
	background-image: none;
}

#playlists, #currentplaying, #switches, #top_bar, #filesystem, #border_navigation, #information
{
	position: absolute;
}

@media (min-width: 900px)
{
	#top_bar, #currentplaying
	{
		left: var(--offset);
		width: calc(100% - 2*var(--offset));
	}
	#top_bar
	{
		top: var(--offset);
		height: calc(var(--top) - var(--offset));
	}
	#currentplaying
	{
		bottom: var(--offset);
		height: calc(var(--bottom) - var(--offset));
	}
	#playlists, #filesystem
	{
		top: calc(var(--top) + var(--offset));
		height: calc(100% - var(--top) - var(--bottom) - 2*(var(--offset)));
	}
	#switches, #information
	{
		left: var(--offset);
		width: calc(var(--left) - var(--offset));
	}
	#switches
	{
		top: calc(var(--top) + var(--offset));
		height: calc(0.5*(100% - var(--top) - var(--bottom)) - (var(--offset)));
	}
	#information
	{
		bottom: calc(var(--bottom) + var(--offset));
		height: calc(0.5*(100% - var(--top) - var(--bottom)) - 2*(var(--offset)));
	}
	#playlists
	{
		right: var(--offset);
		width: calc(var(--right) - var(--offset));
	}
	#filesystem
	{
		left: calc(var(--left) + var(--offset));
		width: calc(100% - var(--left) - var(--right) - 2*var(--offset));
	}
	#border_navigation
	{
		visibility: hidden;
	}
}

@media (max-width: 900px) and (min-height: 450px)
{
	#top_bar, #currentplaying, #border_navigation
	{
		left: var(--offset);
		width: calc(100% - 2*var(--offset));
	}
	#top_bar
	{
		top: var(--offset);
		height: calc(var(--top) - var(--offset));
	}
	#currentplaying
	{
		bottom: var(--offset);
		height: calc(var(--bottom) - var(--offset));
	}
	#border_navigation
	{
		top: calc(var(--top) + var(--offset));
		height: calc(var(--nav) - var(--offset));
	}
	#switches, #playlists, #filesystem, #information
	{
		top: calc(var(--top) + var(--nav) + var(--offset));
		height: calc(100% - var(--top) - var(--nav) - var(--bottom) - 2*(var(--offset)));
		left: var(--offset);
		right: var(--offset);
	}
	#playlists, #filesystem, #information
	{
		z-index: -1;
	}
}

@media (max-width: 900px) and (max-height: 450px)
{
	#top_bar
	{
		left: var(--offset);
		width: calc(100% - 2*var(--offset));
		top: var(--offset);
		height: calc(var(--top) - var(--offset));
	}
	#border_navigation
	{
		left: var(--offset);
		top: calc(var(--top) + var(--offset));
		bottom: var(--offset);
		width: calc(var(--nav_w) - var(--offset));
	}
	#currentplaying
	{
		left: calc(var(--nav_w) + var(--offset));
		right: var(--offset);
		bottom: var(--offset);
		height: calc(var(--bottom) - var(--offset));
	}
	#switches, #playlists, #filesystem, #information
	{
		top: calc(var(--top) + var(--offset));
		height: calc(100% - var(--top) - var(--bottom) - 2*(var(--offset)));
		left: calc(var(--nav_w) + var(--offset));
		right: var(--offset);
	}
	#playlists, #filesystem, #information
	{
		z-index: -1;
	}
}

.switch
{
	cursor:pointer;
	padding: 7px;
	margin: 4px;
	text-align: center;
	height: calc(44px - 2*var(--btn_border));
	/*float: left;*/
	min-width: 110px;
	box-sizing: border-box;
	transition: 0.3s;
	border-radius: var(--btn_radius);
}

.on
{
	color: var(--font_on);
	background: var(--btn_on_bg);
	border: var(--btn_on_border);
	box-shadow: inset 0 0 0 0 var(--btn_on_border_color);
}

.on:hover
{
	border: var(--btn_on_border_hover);
	box-shadow: inset 10px 0 0 0 var(--btn_on_border_color);
	transition: 0.2s;
}

.on:active
{
	box-shadow: inset 150px 0 0 0 var(--btn_on_border_color);
	transition: 0.2s;
}

.off
{
	background: var(--btn_off_bg);
	border: var(--btn_off_border);
	box-shadow: inset 0 0 0 0 var(--btn_off_border_color);
}

.off:hover
{
	box-shadow: inset 10px 0 0 0 var(--btn_off_border_color);
	border: var(--btn_off_border_hover);
	transition: 0.2s;
}

.off:active
{
	box-shadow: inset 150px 0 0 0 var(--btn_off_border_color);
	transition: 0.2s;
}

.line
{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid var(--border);
	vertical-align: middle;
}

.icon
{
	cursor:pointer;
	height: 32px;
	width: 32px;
	list-style: none;
	float: right;
	padding-right: 10px;
	vertical-align: top;
}

img:hover
{
	filter: brightness(var(--img_brightness_hover));
}

.right
{
	float: right
}

.left
{
	float: left
}

.headline
{
	text-align: center;
	font-weight: bold;
	color: var(--title);
	font-size: 120%;
	padding-bottom: 10px;
}

.player_btn
{
	padding-left: 5px;
	width: 27px;
	margin-top: 10px;
	cursor:pointer;
	float: left;
}

.setting_btn
{
	width: 35px;
	margin: 7px;
	float: right;
}

button, input, .input, select
{
	background: var(--background);
	color: var(--font);
	font-family: var(--font_name);
	font-size: 100%;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	border: 1px solid var(--border);
	transition: all 0.15s;
}

input, select
{
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 12px
}

input[type=checkbox]
{
	height: 0;
	width: 0;
	visibility: hidden;
}

input:checked + label
{
	background: #aaa;
}

input:checked + label:after
{
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.cbox
{
	cursor: pointer;
	text-indent: -9999px;
	width: 80px;
	height: 30px;
	background: var(--border);
	display: block;
	border-radius: 30px;
	position: relative;
}

.cbox:after
{
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 23px;
	height: 23px;
	background: var(--font);
	border-radius: 50%;
	transition: 0.3s;
}

.cbox:active:after
{
	width: 32px;
}

label, .label
{
	padding: 3px 5px;
	box-sizing: border-box;
	height: 40px;
}

.button
{
	width: 160px;
	cursor:pointer;
}

.button:hover, input:hover, select:hover, .file:hover
{
	box-shadow: inset 0 0 5px var(--focus);
	transition: all 0.15s;
}

.button:hover, input:hover, select:hover
{
	border: 1px solid var(--focus);
}

input:focus, select:focus
{
	border: 1px solid var(--focus);
	box-shadow: inset 0 0 15px var(--focus);
	transition: all 0.15s;
}

.button:active
{
	border: 1px solid var(--focus);
	background: var(--focus);
	transition: all 0.15s;
}

.file
{
	padding: 6px;
	border-bottom: 1px solid var(--border);
	text-align: left;
	cursor: pointer;
}

.dir
{
	font-weight: bold;	
}

.search_result
{
	font-size: 80%;
}

.rotate
{
	-webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation
{
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}

.fill
{
	width: 95%;
}

.container
{
	visibility: hidden;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	opacity: 0;
	display: flex;

	transform: scale(1.08, 1.08);
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.container.visible
{
	visibility: visible;
	opacity: 1;

	transform: none;
	transition: 0.5s cubic-bezier(0,1.04,.46,1);
}

.dialog
{
	margin: auto auto;
}

.filling, .use_space
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 8px;
	padding-bottom: 23px;
}

.disabled
{
	text-decoration: line-through;
}

.weather
{
	height: 32px
}

#playlist_content
{
	height: 300px;
	overflow: auto;
	border: 1px solid var(--border);
}

@media (max-width: 900px) and (min-height: 450px)
{
	#border_navigation
	{
		overflow-x: auto;
    	white-space: nowrap;
	}
	.nav_btn
	{
		float: none;
		display: inline-block;
	}
}