<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.remote.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.BrowserActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelectPlaylistActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activities.GetTextActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activities.MouseActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".activities.SelectServerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.NewServerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.SelectSwitchActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:icon="@drawable/chat"
            android:label="Chat"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PowerActivity"
            android:icon="@drawable/chat"
            android:label="Chat"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".activities.WebcamActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <service android:name="de.remote.mobile.services.RemoteService" >
        <!--     <intent-filter>
                <action android:name=".services.remoteservice" />
            </intent-filter> -->
        </service>
        <service android:name=".services.WidgetService" >
        </service>
        <service android:name=".services.WidgetPowerService" >
        </service>

        <receiver
            android:name=".receivers.RemoteWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Remote Music" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver
            android:name=".receivers.RemotePowerWidgetProvider"
            android:icon="@drawable/light_on"
            android:label="Remote Power" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_power_info" />
        </receiver>
        <receiver android:name=".receivers.WLANReceiver" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>