<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.remote.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="de.remote.mobile.activies.BrowserActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.remote.mobile.activies.SelectPlaylistActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="de.remote.mobile.activies.GetTextActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="de.remote.mobile.activies.ChatActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="de.remote.mobile.activies.SelectServerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.remote.mobile.activies.NewServerActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name=".services.RemoteService" >
            <intent-filter>
                <action android:name="de.remote.mobile.services.remoteservice" />
            </intent-filter>
        </service>
    </application>

</manifest>